.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.425)50%,rgba(0,0,0,0.425)50%), url(sho1.jpg);
    background-position: center;
    background-size: cover;
    height: 102vh;
    width: 214vh;

}
.navbar{
    width: 1300px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: right;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 25px;
    font-family: Arial;
    padding-right: 20px;
    float: right;
    padding-top: 10px;
    margin-top: 5px
}
.menu{
    width: 500px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color:white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 9px;
    border-bottom-right-radius: 9px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
::placeholder{
    color: #000000d8;
    font-family: Arial;
}
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        font-size: large;
        text-align: left;
        padding: 8px;
        border: 5px solid black;
        height: 100px;
        
    }
      th {
        background-color: #dddddd;
      }
      td {
        font-family: fantasy;
        font-style: italic;
      }
      button{
        border-radius: 8px;
        font-size: 12px;
        padding: 10px 40px;
        background-color: #ddddddee;
        color: black;
        border: 5px solid #1a11a1;
        transition-duration: 0.4s;
      }
      button:hover{
        background-color: #1a11a1;
        color: white;
      }
      